<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="https://flyasiana.com/C/pc/css/reset.css">
	<link rel="stylesheet" type="text/css" href="https://flyasiana.com/C/pc/css/layout.css">
	<link rel="stylesheet" type="text/css" href="https://flyasiana.com/C/pc/css/common.css">
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/math_ramdom.js"></script>
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/moment.min.js"></script>

	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/velocity.min.js"></script>
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="https://flyasiana.com/C/pc/js/util.js"></script>
	<link rel="stylesheet" type="text/css" href="https://flyasiana.com/C/pc/css/static.css">
	<link rel="stylesheet" type="text/css" href="https://flyasiana.com/C/pc/css/flyasiana.css">




	<link rel="stylesheet" type="text/css" href="../../assets/css/pc.css">

<script>
	var _GEOOrigin = '';
	var _GEO = 'KR';
</script>

</head>

<body>
	<!-- container -->
	<div class="container" id="container">
		<h3>공지사항</h3>
		<div class="list_view_type1">
			<div class="list_view_title">
				<p class="title fsz_20" id="_subject">제목제목제목</p>
			</div>
			<div class="list_view_cont type01">
				<div class="event_cont">
					<div id="_content">
						<!-- source-start -->




					</div>




					<script src="../../assets/js/pc.js"></script>




				</div>
			</div>
		</div>
	</div>
</body>

</html>