//.c-btn
	//radius
.c-btn__radius{
	height:38px;
	padding:0 35px;
	margin:0 9px;
	border-radius : 4px;
	background-color: map-get( $themeBtnRadiusBg , $theme );
	color : map-get( $themeColor , $theme) ;
	font-size:rem(13px);
	font-weight:700;
	&[class*="--is-active"]{
		background-color:red;
		&.c-btn--theme-purple{
			color :  map-get( $themeCommon , _white);
			background-color:map-get( $themeCommon, _purple);
		}
		&.c-btn--theme-red{
			color : map-get( $themeCommon , _white);
			background-color:map-get( $themeCommon, _red);
		}
		transition : background-color 0.1s linear 0s, color 0.1s linear 0.05s;
		}
}
//형태는 다르지만 active style이 똑같을수 있어 theme를 따로 추출

//--radius


	//sort
//btn__sort는 단독사용보단 요소내에 사용됨으로 상속받아 사용함
.c-btn__sort{
	position:relative;
	padding-right:22px;
	border-top-color:inherit;
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	&:after{
		@include pseudo;
		position:absolute;
		right:3px;
		top:50%;
		border-top:5px solid;
		border-top-color:inherit;
		border-right:4px solid transparent;
		border-left:4px solid transparent;
		transform:translateY(-50%);
	}
	&--sort-normal{
		&:after{
			transform:rotate(0deg);
			border-width:3px 4px 0 4px;
			border-color:inherit;
		}
	}
	&--sort-ascending{
		&:after{
			transform:rotate(0deg)
		}
	}
	&--sort-descending{
		&:after{
			transform:rotate(-180deg)
		}
	}



}
//--sort




